*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul[class] {
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --font-size: 1.125rem;
}

html {}

body {
    font-size: var(--font-size);
}