.editor {
    max-width: 50rem;
    min-height: 28.125rem;
    min-width: 35rem;
    border: 0.25rem solid pink;
    padding: 0.5rem;
}

.editorWrapper {
    position: relative;
}

.editorPlaceHolder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.55rem;
}